*Theory.*
*/.HOLMK/*
.HOLMK
.hollogs
*/.DS_Store
*/.hollogs/*
*/tmp/*
*munger*
*chpt1intro.tex
*chpt2background.tex
*chpt3hilbert.tex
*chpt3ND.tex
*chpt4rmsemantics.tex
*chpt5coversemantics.tex
*chpt6decidability.tex
*chpt7conclusion.tex
*holtexbasic.sty
*/PDFs/*
*#*
*proof.sty
