*Theory.*
*/.HOLMK/*
.HOLMK
.hollogs
*/.DS_Store
*/.hollogs/*
*/tmp/*
*munger*
*chpt1intro.tex
*chpt2background.tex
*chpt3hilbert.tex
*chpt4deduction.tex
*chpt5rmsemantics.tex
*chpt6coversemantics.tex
*chpt7conclusion.tex
*holtexbasic.sty
*/PDFs/*
*#*
*proof.sty
