*Theory.*
.HOLMK/*
.hollogs/*
*.log
*.synctex.gz
*.aux
*.bbl
*.bcf
*.blg
*.out
*.run
*.xml
*.toc
*.lot
*.lof
*.idx
chpt*.pdf
*munger*
chpt1intro.tex
chpt2background.tex
chpt3hilbert.tex
chpt4deduction.tex
chpt5rmsemantics.tex
chpt6coversemantics.tex
chpt7conclusion.tex